# LaTeX Compilation
*.aux
*.bbl
*.blg
*.log
*.synctex.gz

# Build files
bin/
build/

# Docs
docs/*
!docs/html
!docs/latex
docs/html/*
!docs/html/index.html
docs/latex/*
!docs/latex/refman.pdf

# Profiling
gmon.out
prof/*
!prof/*.txt
